# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
dist/
dist-ssr/
/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
bun-debug.log*

# Environment variables
.env*
!.env.example

# Runtime Data
*.rdb

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
*.d.ts
*.d.ts.map

# Compiled JavaScript
**/*.js
**/*.js.map

!biome.json
!package.json
!*.config.js

# Biome
.biome_cache

# IDEs and editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Agent
.agent/
.claude/
.gemini/
.cursor
